productivity agent.json
{
  "name": "productivity agent",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        0,
        0
      ],
      "id": "ea2cb0b8-76a3-42bb-a127-642cdc5b934d",
      "name": "When chat message received",
      "webhookId": "10e42409-5333-476e-902b-3dbd012f66c9"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        80,
        208
      ],
      "id": "6ddf2c19-14cc-410d-be5e-0bb0b1ea2d5c",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "eK7qeaVmuqr5XOpC",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        224,
        208
      ],
      "id": "5953a593-a788-47c9-b6a5-267cf9f7916f",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "toolDescription": "Extracts actionable tasks, assigns priority, and stores them in the Tasks sheet",
        "text": "=",
        "options": {
          "systemMessage": "You are Task_Agent.\n\nYour role is to extract and structure actionable tasks.\n\nA task is something the user needs to DO, but without a specific scheduled time.\n\nYour responsibilities:\n\n1. Extract a clean task description\nRemove unnecessary filler words.\n\nExample:\nInput: \"I need to finish my database assignment\"\nOutput: \"Finish database assignment\"\n\n2. Assign priority:\n\nHIGH:\nurgent, asap, immediately, important\n\nMEDIUM:\ndefault everyday tasks\n\nLOW:\nsomeday, maybe, optional, later\n\n3. Save data using Save_Task tool with:\n\n- Date (today's date)\n- Task\n- Priority\n- Status = Pending\n\nResponse format:\n\nTask added successfully:\n[Task Description]\nPriority: [Priority]\n\nBe concise and accurate.\nNever create reminders.\nNever summarize as notes."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 3,
      "position": [
        368,
        208
      ],
      "id": "7d3cb7d5-bf04-4747-903e-72f2f9dad8e5",
      "name": "task agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        352,
        368
      ],
      "id": "bf154776-7363-4e33-bcaa-fa8eb0411c3e",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "uRJRfquJWmSxqZVW",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Captures notes, ideas, thoughts, and informational content for future reference",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "You are Note_Agent.\n\nYou process informational content.\n\nYour responsibilities:\n\n1. Generate a concise topic title\nLength: 3–5 words\n\nExample:\nInput: Idea for AI scheduling assistant\nTopic: AI Scheduling Idea\n\n2. Save complete note content.\n\n3. Save using Save_Note tool.\n\nRequired fields:\n- Date\n- Topic\n- Note\n\nResponse format:\n\nNote saved\nTopic: [Topic]\n\nRules:\nDo not create tasks.\nDo not create reminders.\nKeep topic professional and concise."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 3,
      "position": [
        608,
        272
      ],
      "id": "f68a4f10-0c49-41e9-801e-d3584e981452",
      "name": "node agent"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        640,
        432
      ],
      "id": "97a17f3e-1ba7-431c-8370-a891b59bfed9",
      "name": "Groq Chat Model1",
      "credentials": {
        "groqApi": {
          "id": "eK7qeaVmuqr5XOpC",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1M7VWV6CZFHjifdawkToqjUJ9xR6F2ryvRBcAZTFOPV0",
          "mode": "list",
          "cachedResultName": "node agent",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1M7VWV6CZFHjifdawkToqjUJ9xR6F2ryvRBcAZTFOPV0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "trigger_node",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1M7VWV6CZFHjifdawkToqjUJ9xR6F2ryvRBcAZTFOPV0/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        768,
        480
      ],
      "id": "4e86181f-80f7-467f-bf49-b4a98761745c",
      "name": "Get row(s) in sheet in Google Sheets1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "H5yALz7kwv9aIQOY",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Extracts reminders, resolves date/time references, and stores them in the Reminders shee",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "You are Reminder_Agent.\n\nYou process time-based reminders.\n\nResponsibilities:\n\n1. Extract reminder content\n\nExample:\nInput: Remind me to call mom tomorrow at 5pm\nOutput: Call mom\n\n2. Resolve relative dates\n\nExamples:\ntomorrow\nnext Monday\nin 3 days\n\nConvert all dates to YYYY-MM-DD\n\n3. Convert time to 24-hour format\n\nExamples:\n5pm → 17:00\n8:30 AM → 08:30\n\n4. Save using Save_Reminder tool\n\nRequired fields:\n- Created\n- Reminder\n- Due_Date\n- Due_Time\n\nResponse format:\n\nReminder set\nReminder: [Reminder]\nDate: [Due_Date]\nTime: [Due_Time]\n\nRules:\nIf no time provided:\nset Due_Time as NULL\n\nBe precise.\nDo not save as task or note."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 3,
      "position": [
        864,
        272
      ],
      "id": "517d5c9a-a8f3-4c9e-b173-f08640ecd199",
      "name": "reminder agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        880,
        448
      ],
      "id": "e287452f-708d-4d98-92bf-19183cdc364e",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "uRJRfquJWmSxqZVW",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1jgabeRbrOe_MMPgt0qr2u7uIsGy4ItlgbWVV__kVaGs",
          "mode": "list",
          "cachedResultName": "Reminder Agent",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jgabeRbrOe_MMPgt0qr2u7uIsGy4ItlgbWVV__kVaGs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "trigger_reminder",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jgabeRbrOe_MMPgt0qr2u7uIsGy4ItlgbWVV__kVaGs/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        1024,
        480
      ],
      "id": "4c8aba2a-d61b-4e8e-bc4d-7f86b2021dc8",
      "name": "Get row(s) in sheet in Google Sheets2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "H5yALz7kwv9aIQOY",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are the Productivity Manager, the orchestration agent of a multi-agent productivity system.\n\nYour job is ONLY to analyze the user's message and delegate it to the correct specialist agent.\n\nYou must NEVER perform task extraction, note summarization, or reminder parsing yourself.\n\nAvailable specialist agents:\n\n1. Task_Agent\nHandles actionable tasks without a specific date/time.\n\nExamples:\n- I need to finish my assignment\n- Add task: clean my room\n- To-do: submit project\n\n2. Note_Agent\nHandles notes, ideas, information, observations, or things to remember.\n\nExamples:\n- Note that the client prefers blue themes\n- Idea: build a restaurant app\n- Remember this concept\n\n3. Reminder_Agent\nHandles time-based reminders.\n\nExamples:\n- Remind me tomorrow at 5pm\n- Remind me next Monday\n- Set reminder for 8 PM\n\nRouting Rules:\n\nIf message contains:\n- \"I need to\"\n- \"to-do\"\n- \"add task\"\n- action without explicit time/date\n→ Route to Task_Agent\n\nIf message contains:\n- \"note\"\n- \"idea\"\n- \"remember that\"\n- informational statements\n→ Route to Note_Agent\n\nIf message contains:\n- \"remind me\"\n- date/time references\n- tomorrow, tonight, next week\n→ Route to Reminder_Agent\n\nIf ambiguous:\nChoose the most logical agent based on user intent.\n\nReturn ONLY the specialist response to the user."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        0
      ],
      "id": "53a1e2f3-dc9b-42c5-81b4-c7259a041a3e",
      "name": "productivity agent"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1qRlghfgr79uwoRgTQDSmrkKfevmqCA-oyx-4ADYU8nA",
          "mode": "list",
          "cachedResultName": "task agent",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qRlghfgr79uwoRgTQDSmrkKfevmqCA-oyx-4ADYU8nA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "trigger_task",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qRlghfgr79uwoRgTQDSmrkKfevmqCA-oyx-4ADYU8nA/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "task",
              "displayName": "task",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "priority",
              "displayName": "priority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        512,
        400
      ],
      "id": "6d2d39f5-fc4a-46d8-8652-40168d18d731",
      "name": "Append row in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "H5yALz7kwv9aIQOY",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "productivity agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "productivity agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "productivity agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "task agent": {
      "ai_tool": [
        [
          {
            "node": "productivity agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "task agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "node agent": {
      "ai_tool": [
        [
          {
            "node": "productivity agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "node agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets1": {
      "ai_tool": [
        [
          {
            "node": "node agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "reminder agent": {
      "ai_tool": [
        [
          {
            "node": "productivity agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "reminder agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets2": {
      "ai_tool": [
        [
          {
            "node": "reminder agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "task agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "fcb2a5c1-a3a3-4b92-b535-5516765b9397",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a654e979a34ede73e057a9140547426d5a50374c437545bda4c015ea312592fa"
  },
  "id": "iE8BmcTLDjFYY5aL",
  "tags": []
}